<%= simple_form_for [:administrador, @materia], 
  :html => { :class => 'form-horizontal' } do |f|  %>
  <%= f.input :nome %>
  
  <div class="form-actions">
    <%= f.button :submit,  :class => 'btn-primary' %>
    <%= link_to 'Cancelar', administrador_materias_path  %>
  </div>
<% end %>
